/*-- Colours --*/
$brand-primary: #d52329;
$brand-grey:    #f9f9f9;
$text-color:    #000;

/*-- Fonts --*/
$font-family-sans-serif: 'Yantramanav', sans-serif;
$font-family-serif:      'Raleway', sans-serif;
$headings-font-family:   $font-family-serif;

/*-- Font Sizes --*/
$font-size-h1: 60px;
$font-size-base: 16px;

/*-- Spacing --*/
$spacing:           16px;
$grid-gutter-width: $spacing * 4;

