.angles {
    position:absolute;
    bottom:0;
    width:100%;
    height:100vh;
    overflow:hidden;

    .angle {
        @include angle($brand-primary);
    }

    ~ .content {
        position:relative;
        z-index:2;
    }
}