.slick-slider {
    .slick-list {
        margin-left:-$spacing;
        margin-right:-$spacing;
    }

    .slick-slide {
        margin-left:$spacing;
        margin-right:$spacing;
    }

    .slick-arrow {
        position: absolute;
        top: 47%;
        background: none;
        border: none;
        font-size: 26px;
        z-index:2;

        &.slick-prev {
            left:-50px;
        }

        &.slick-next {
            right:-50px;
        }
    }

    @media (max-width:$screen-md) {
        width:calc(100% - 100px);
        margin-left:auto;
        margin-right:auto;
    }
}