.featured_athletes {
    color:#FFFFFF;
    position:relative;

    .angles {
        .angle {
            @include angle($brand-primary, true);
        }
    }

    .featured-athletes-slider {
        margin-top:($spacing * 5);

        .slick-slide {
            background:#000;
            padding:$spacing * 3;
            font-family:$font-family-serif;
            text-transform:uppercase;
            font-size:14px;

            img {
                @include border-radius(50%);
                width:200px;
                height:200px;
                margin:0 auto ($spacing * 3) auto;
            }

            @media(max-width:$screen-sm) {
                padding:$spacing;

                img {
                    width:100%;
                    height:100%;
                    @include border-radius(0);
                    margin-bottom:$spacing;
                }
            }
        }
    }
}