.hero {
    min-height:100vh;
    text-align:center;
    padding:($spacing * 2) 0;
    color:#ffffff;
    position:relative;

    .logo {
        margin-top:90px;

        img {
            margin:0 auto;
            @media(min-width:$screen-md) {
                max-width:350px;
            }
        }
    }

    h2 {
        font-size:30px;
    }
}